<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="backToEvent()">Event
      <!-- <ion-icon slot="icon-only" size="large" color="dark" name="chevron-back-circle-outline"></ion-icon> -->
    </ion-button>
    </ion-buttons>
    <ion-title>Your Ticket</ion-title>
    <ion-buttons slot="end">
      <ion-button    (click)="router.navigateByUrl('/home')">
        <ion-icon class="ion-no-padding ion-no-margin" slot="icon-only"  color="dark"  name="home-outline"></ion-icon>
      </ion-button>
      <ion-button   (click)="router.navigateByUrl('/profile')">
        <ion-icon slot="icon-only"  color="dark" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-button slot="start" fill="clear" size="large" shape="round"
  (click)="router.navigateByUrl('/event/'+bookingDetails?.showId?.eventId?._id)" routerLinkActive="router-link-active">
  <ion-icon slot="icon-only" size="large"  name="chevron-back-circle-outline"></ion-icon>
</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none" class="column-list">
    <div class="m-ticket">
      <p class="m">M-Ticket</p>
      <div class="event-details">
        <div class="event">
          <h4>{{bookingDetails?.showId?.eventId?.name}}</h4>
          <p>{{bookingDetails?.showId?.eventId?.date | date:'MMM d, y | hh:mm a' }}</p>
          <p><ion-icon name="location-outline"></ion-icon>{{bookingDetails?.showId?.eventId?.location?.venue}}, {{bookingDetails?.showId?.eventId?.location?.city}}</p>
          <p>{{bookingDetails?.showId?.eventId?.description}}</p>
          <p>{{bookingDetails?.showId?.eventId?.performers}}</p>
        </div>

      </div>
      <!-- <div class="total-amount">
        <p>Total Amount</p>
        <p>{{bookingDetails?.totalAmount | currency:"INR"}}</p>
      </div> -->
      <div class="info">
        <!-- Thanks for Booking, with us! -->
        <h6>Show on: {{bookingDetails?.showId?.date | date:'d MMM,y'}} | {{bookingDetails?.showId?.time}}</h6>
      </div>

      <div class="ticket-details" style="align-items: center;">
        <img [src]="bookingDetails?.image" class="scan" alt="User profile image">

        <div class="ticket">
          <b>{{bookingDetails?.name}}</b>
          <p>{{bookingDetails?.email}} | {{bookingDetails?.phone}} </p>
          <h6>{{bookingDetails?.tickets}} Ticket(s)</h6>
          <p><strong>BOOKING ID: </strong> <a >{{bookingDetails?._id}}</a></p>

        </div>
      </div>
      <div class="info-cancel">
        Cancellation not available for this venue
      </div>
      
      <!-- http://localhost:8100/ticket/67a339f6b00ade12eae25877 -->
      <div class="total-amount">
        <p>Total Amount</p>
        <p>{{bookingDetails?.totalAmount | currency:"INR"}}</p>
      </div>
      
    </div>
    <div class="info " style="text-align: center; margin-top: 20px;">
      Thanks for Booking, with us!
    </div>
  </ion-list>


</ion-content>