<ion-content class="ion-padding">

  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <ion-header>
          <ion-toolbar>
            <ion-title>Ticket</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-list lines="none" class="column-list">
          <!-- <ion-item> -->
            <!-- <ion-label>Date:{{ show.date | date: 'd MMM' }}</ion-label> -->
            <!-- <ion-label slot="end"><strong>Price:</strong>{{ show.ticketPrice | currency:"INR" }}</ion-label> -->
          <!-- </ion-item> -->

          <!-- <ion-list> -->
          <!-- <ion-item>
              <ion-label required>Name:</ion-label>
              <input placeholder="Enter text" [(ngModel)]="bookingData.name" />
            </ion-item>

            <ion-item>
              <ion-label required>Phone:</ion-label>
              <input type="text" placeholder="7984561321" [(ngModel)]="bookingData.phone" />
            </ion-item>

            <ion-item>
              <ion-label required>Email:</ion-label>
              <input type="email" placeholder="example@gmail.com" [(ngModel)]="bookingData.email" />
            </ion-item>

            <ion-item>
              <ion-label required>Tickets:</ion-label>
              <input type="number" placeholder="1" [(ngModel)]="bookingData.tickets" />
            </ion-item>-->


          <div class="m-ticket">

            <p class="m">M-Ticket</p>

            <div class="movie-details">
              <img src="https://pbs.twimg.com/media/FshgstvakAA5sE7.jpg" class="poster">

              <div class="movie">
                <h4>Jawan (U/A)</h4>

                <p>Hindi, 2D</p>
                <p>Thu, 7 Sep | 07:45 PM</p>
                <p>INOX Eros One: Jangpura Extn</p>
              </div>

            </div>

            <div class="info">
              Tap for support, details & more actions
            </div>

            <div class="ticket-details">
              <img src="https://pngimg.com/uploads/qr_code/qr_code_PNG2.png" class="scan">

              <div class="ticket">
                <p>3Ticket(s)</p>

                <b>SCREEN 1</b>

                <p>PR-J11,J10,J9</p>

                <h6>BOOKING ID: Tbafeq7</h6>

              </div>

            </div>

            <div class="info-cancel">
              Cancellation not available for this venue
            </div>

            <div class="total-amount">
              <p>Total Amount</p>

              <p>Rs. 1041.06</p>
            </div>
          </div>
        </ion-list>


      </div>
    </ng-template>
  </ion-modal>
</ion-content>