ion-content {

    ion-header {
        margin: 8px;
        background: transparent;

        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent;

            ion-button {
                background: grey;
                border-radius: 50%;
            }
        }
    }


    div.bg-container {
        margin: 8px;

        div.bg {
            width: 100%;
            height: 22rem;
            border-radius: 25px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    ion-item {
        margin: 8px;
        border-radius: 25px;

        ion-col.loc-date {
            margin: 0;
            font-size: .7rem;
        }

        .check-show {
            border-radius: 20px;
            background-color: rgb(222, 207, 247);
            padding: 5px 15px 2px 15px;
            font-size: .8rem;

            ion-label.down-icon {
                font-size: 1.7rem;
            }
        }
    }

    ion-card {
        border-radius: 26px;
        padding:10px 2px;

        ion-list {
            p{
                color: rgb(116, 114, 114);
            }
            ion-col {
                display: flex;
            }

            ion-avatar {
                // height: 3rem;
                // width: 3rem;
                background: #fff;

                img {
                    padding: 2px;
                }
            }
            .participant{
                margin-left: -10px;
                ion-text{
                    font-weight: bold;
                    font-size: 0.8rem;
                }
            }
            .bg-avatar{
                background: var(--ion-color-light);
                align-content: center;
            }
        }
    }








    
}