<ion-content [fullscreen]="true" class="ion-padding">
  <div class="bg ion-display-flex">
    <ion-buttons slot="start">
      <ion-button (click)="back()"
      routerLinkActive="router-link-active">
      <ion-icon color="dark" slot="icon-only" size="large" name="chevron-back-circle-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </div>


  <!-- Centered Container with Curved Box -->
  <div class="centered-container">
    <div class="booking-box ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <p class="ion-no-margin">
              <ion-text><strong>Date:</strong>{{ showData.date | date: 'd MMM' }}, {{showData.time}}</ion-text>
            </p>
            <p class="ion-no-margin">
              <ion-text><strong>Price per ticket:</strong> {{ showData.ticketPrice | currency:"INR" }}</ion-text>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Booking Form -->
      <ion-list class="ion-no-margin ion-no-padding">
        <!-- <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
          <ion-label position="stacked" required>Name:</ion-label>
          <input placeholder="Enter your name" [(ngModel)]="bookingData.name" />
        </ion-item>

        <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
          <ion-label position="stacked" >Phone:</ion-label>
          <input type="tel" placeholder="7984561321" minlength="10" maxlength="10" [(ngModel)]="bookingData.phone" />
        </ion-item>

        <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
          <ion-label position="stacked" required>Email:</ion-label>
          <input type="email" placeholder="example@gmail.com" [(ngModel)]="bookingData.email" />
        </ion-item> -->

        <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
          <ion-label position="stacked" required>Tickets (max 6) :</ion-label>
          <input type="number" placeholder="1" maxlength="1" minlength="1" max="6" min="1"
            [(ngModel)]="bookingData.tickets" />
        </ion-item>
        <div>
          <p *ngIf="bookingData.tickets > 6 || bookingData.tickets<1" class="error" style="color: red;">Number of
            tickets allowed is between 1 to 6.</p>
        </div>
      </ion-list>

      <!-- Book Now Button -->
      <ion-button expand="full" color="tertiary" (click)="bookNow()" shape="round" class="ion-margin-top">
        Book Now {{(bookingData.tickets * showData.ticketPrice)| currency:"INR"}}
      </ion-button>
    </div>
  </div>







  <ion-modal #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Confirm booking</ion-title>
          <ion-buttons slot="start">
            <ion-button color="dark" (click)="closeModal()"><ion-icon slot="icon-only" size="large"
                name="chevron-back-circle-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-no-padding">
        <ion-card class="ticket ion-no-padding">
          <div class="holes-top"></div>

          <ion-card-header>
            <ion-card-title class="event-title">{{ showData.eventId?.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-no-padding">
            <div class="poster">
              <img [src]="showData.eventId?.image" alt="Event Poster" />
            </div>

            <div class="info">
              <ion-grid class="ion-margin-vertical" style=" border-radius: 5px;box-shadow: 0 0 3px rgb(168, 168, 168);">
                <ion-row>

                  <ion-col class="col-left">
                    <h5>Date</h5>
                    <p>{{ showData?.date | date: 'd MMM, y' }}</p>
                  </ion-col>
                  <ion-col class="col-right">
                    <h5>Time</h5>
                    <p>{{ showData?.time}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>

                  <ion-col>
                    <h5>Venue</h5>
                    <p>{{ showData?.eventId.location}}</p>
                  </ion-col>

                </ion-row>


              </ion-grid>
              <ion-grid style="box-shadow: 0 0 3px rgb(168, 168, 168); border-radius: 5px;">
                <ion-row>
                  <ion-col class="col-left">
                    <h5> Ticket price</h5>
                    <h5> Total tickets</h5>
                  </ion-col>
                  <ion-col class="col-right">
                    <p> {{ showData?.ticketPrice | currency:'INR'}}</p>
                    <p> {{ ticketDetails?.tickets }}</p>
                  </ion-col>
                </ion-row>
                <ion-row style="border-top: 1px dotted rgb(163, 163, 163);">
                  <ion-col class="col-left">
                    <h5>Total amount</h5>
                  </ion-col>
                  <ion-col class="col-right">
                    <p>{{ ticketDetails?.totalAmount | currency:'INR' }}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div class="ticket-details ">

              <ion-grid class="ion-margin-vertical" style="box-shadow: 0 0 3px rgb(168, 168, 168); border-radius: 5px;">
                <ion-row>
                  <ion-col>
                    <h5>Your details</h5>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col>
                    <p> {{ ticketDetails?.name }}</p>
                    <p> {{ ticketDetails?.email }} | {{ ticketDetails?.phone }}</p>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </div>

            <div class="payment">
              <ion-button class="" color="tertiary" shape="round" (click)="Payment()">Continue</ion-button>
            </div>
            <div class="holes-lower"></div>

          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>