  <ion-modal #modal trigger="show-modal" [presentingElement]="presentingElement" mode="ios">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{event.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content style="background-color: rgb(240, 240, 240);" mode="ios">
        <ion-list style="background-color: rgb(240, 240, 240);">
          <ion-item class="ion-margin" *ngFor="let item of event.shows, let i = index" lines="full"
            style="border-radius: 25px;">
            <div slot="start" class="ion-align-items-center" style="display: flex;flex-direction: column;">
              <ion-avatar style="padding: 2px 0;">
                <ion-img [src]="event.image"></ion-img>
              </ion-avatar>
              <ion-text class="dark ion-no-margin ion-no-padding">
                <strong>{{ item.date | date: 'd MMM' }}</strong>
              </ion-text>
            </div>

            <ion-text style="font-size: .8rem;">
              <p class="ion-no-margin ion-no-padding">
                <strong>Time:</strong> {{ item.time }}
              </p>
              <p class=" ion-no-margin ion-no-padding">
                <strong>Available Seats:</strong> <span style="color: green;">{{ item.availableSeats }}</span>
              </p>
              <p class="ion-no-margin ion-no-padding">
                <strong>Price:</strong> ₹{{ item.ticketPrice }}
              </p>
            </ion-text>

            <div slot="end" style="display: flex; flex-direction: column;align-items: center;">
              <ion-button class="ion-no-padding" color="primary"  expand="block" fill="clear"
                class="book-now-btn" (click)="bookTickets(modal,item)">

                <!-- <app-booking [show]="item" ></app-booking> -->

                <ion-icon size="large" name="ticket-outline"></ion-icon>Book
              </ion-button>
            </div>
          </ion-item>
        </ion-list>

          

      </ion-content>
    </ng-template>
  </ion-modal>



