// body,
// input,
// label {
//     font-family: "Abel", "Roboto", "Avenir Next", "avenir-next", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
// }

// form {
//     label {
//         margin-top: 10px;
//     }
// }

input {
    outline: none;

}

.input-field {
    display: inline-block;
    border-radius: 8px;
    border: 2px solid #ccd7e0;
    font-weight: normal;
    color: #345;
    margin-bottom: 10px;
    width: 100%;

}

p {
    color: red;
    margin: 0;
}

.form {
    width: 100%;
    border-radius: 16px;
    border: none;
    // background: #fdfdfc;
    padding: 8px;
    font-weight: normal;
    color: #345;
    box-sizing: border-box;
}