<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="light">
        <div>
          <ion-icon name="locate-outline"></ion-icon>
          <ion-text>
            Events near me
          </ion-text>
        </div>
        <p color="light">Pune, MH</p>

      </ion-label>
      <ion-fab-button size="small" color="white" (click)="profile()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-bagde *ngIf="!isLogged()">&#9679;</ion-bagde>
      </ion-fab-button>
    </ion-item>

    <ion-toolbar [translate]="true" class="srchBar" mode="ios">
      <ion-row>
        
        <ion-col size="10">
          <ion-searchbar debounce="500" (ionInput)="searchEvents($event)" placeholder="Search event"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-fab-button size="small" color="white">
            <ion-menu-button>
              <ion-icon name="options-outline" color="dark"></ion-icon>
            </ion-menu-button>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>

  </ion-toolbar>
</ion-header>



<ion-content color="light" id="main-content">
  <ion-item-divider  *ngIf="searchQuery && filteredEvents.length == 0" class="ion-margin-bottom" mode="ios" clor-light>
   <ion-text color="danger" class="ion-text-center">
    <p>No matches found for the search!</p>
   </ion-text>
  </ion-item-divider>

  <ion-list *ngIf="filteredEvents.length > 0">
    <ion-item-divider mode="ios" clor-light>
      Searched Events ({{filteredEvents.length}})
    </ion-item-divider>



    <ion-card class="currentEvent" *ngFor="let event of filteredEvents; let i = index"
      [ngStyle]="{'background-image':'url('+event?.image+')'}" [routerLink]="['/','event',event?._id]">
      <ion-item lines="none">
        <ion-label>
          <p class="name">{{event?.name}}</p>
          <p>{{event?.performers}}</p>
          <p><ion-icon name="location-outline"></ion-icon>{{event?.location?.venue}}, {{event?.location?.city}}</p>
        </ion-label>
        <ion-fab-button size="small" color="tertiary">
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </ion-fab-button>
      </ion-item>
    </ion-card>
  </ion-list>


  <ion-list class="ion-margin-top">
    <ion-list-header mode="ios">
      Upcoming Events
    </ion-list-header>
    <swiper-container #event_upcoming [modules]="swiperModule" [slidesPerView]="1.14" [keyboard]="true"
      [centerSlides]="true">
      <swiper-slide *ngFor="let event of upcomingEvents; let i = index">
        <ion-card class="event1" [routerLink]="['/','event',event?._id]">

          <ion-item lines="none">
            <ion-thumbnail item-start>
              <img [src]="event.image" alt="Event Image">
            </ion-thumbnail>
            <ion-label>
              <p><ion-text color="dark">
                  {{event?.name}}
                </ion-text></p>
              <p>
                <ion-icon name="location-outline"></ion-icon>
                {{event?.location?.venue}}, {{event?.location?.city}}
              </p>
            </ion-label>
          </ion-item>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-list>

  <!-- category -->
  <ion-list class="">
    <ion-item-divider mode="ios" clor-light>
      Top Picks
    </ion-item-divider>

    <swiper-container #category [modules]="swiperModule" [slidesPerView]="2.3" [keyboard]="true" [centerSlides]="true">
      <swiper-slide *ngFor="let category of categories; let i = index">
        <ion-card class="category1 ion-no-padding">
          <ion-item [ngClass]="{'selected-category': selectedCategoryId === category._id}" lines="none"
            (click)="getEventsByCategoryId(category)">
            <ion-avatar>
              <img [src]="category.image" />
            </ion-avatar>
            <ion-label>
              {{category?.name}}
            </ion-label>
          </ion-item>
        </ion-card>
      </swiper-slide>
    </swiper-container>

  </ion-list>


  <ion-list>
    <ion-item-divider mode="ios" clor-light>
      Current Events ({{currentEvents.length}})
      <ion-button fill="clear" slot="end" shape="round" (click)="getEvents()">
        View All
      </ion-button>
    </ion-item-divider>

    <ion-card class="currentEvent" *ngFor="let event of currentEvents; let i = index"
      [ngStyle]="{'background-image':'url('+event?.image+')'}" [routerLink]="['/','event',event?._id]">
      <ion-item lines="none">
        <ion-label>
          <p class="name">{{event?.name}}</p>
          <p>{{event?.performers}}</p>
          <p><ion-icon name="location-outline"></ion-icon>{{event?.location?.venue}}, {{event?.location?.city}}</p>
        </ion-label>
        <ion-fab-button size="small" color="tertiary">
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </ion-fab-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>


<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="filterForm">
      <ion-list>
        <!-- City Filter -->
        <ion-select label="City" [value]="selectedCity" (ionChange)="updateCity($event.detail.value)"
          interface="popover" class="city-select">
          <ion-select-option *ngFor="let item of cityList" [value]="item">{{item}}</ion-select-option>
        </ion-select>

        <!-- Price Range Filter -->
        <ion-range [value]="selectedPriceRange" [pin]="true" (ionChange)="updatePriceRange($event)" min="0" max="5000"
          step="500">
          <ion-label slot="start">Rs.0</ion-label>
          <ion-label slot="end">Rs.5000</ion-label>
        </ion-range>

        <ion-datetime (ionChange)="updateDate($event)" [value]="today" [min]="minDate">
        </ion-datetime>

        <!-- Apply Filters Button -->
        <ion-buttons class=" ion-padding-vertical ion-text-center ion-justify-content-center">
          <ion-button color="tertiary" (click)="applyFilters()">Apply Filters</ion-button>
        </ion-buttons>
      </ion-list>
    </form>
  </ion-content>
</ion-menu>