ion-header {
  background: var(--ion-color-light);

  ion-toolbar.wrapper {
    --background: url("../../assets/background.jpeg") no-repeat center center/cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 32px 5px 10px 5px;

    ion-item,
    ion-toolbar.srchBar {
      --background: transparent;

      ion-text {
        font-size: 1rem;
      }
    }

    ion-label {
      p {
        padding: 32px 5px;
        padding-top: 5px;
        color: white;
        font-weight: bold;
        font-size: 2.5rem;
      }
    }

    ion-fab-button {

      ion-icon {
        position: relative;
      }

      ion-bagde {
        position: absolute;
        top: 0;
        right: 0;
        color: rgb(153, 24, 24);
        font-size: 1.3rem;
        margin-right: 0.1rem;
      }
    }

    ion-toolbar.srchBar {
      ion-row {
        background: white;
        margin: 5px 5px 8px 5px;
        border-radius: 30px;

        ion-col {
          padding: 0;
        }

        ion-searchbar {
          --background: transparent;

          height: 100%;
          padding: 0 5px;
        }
      }
    }
  }
}

ion-content {

  ion-list {
    background: transparent;
    align-items: center;
  }

  ion-item-divider {
    background: transparent;
  }

  swiper-slide {
    ion-card.event1 {
      padding: 5px;
      border-radius: 10px;

      ion-thumbnail {
        margin-right: 5px;

        img {
          border-radius: 10px;
        }
      }

      ion-text {
        font-weight: bold;
        color: grey;
        font-size: 0.8rem;
      }

      p {
        font-size: 0.64rem;

        ion-text {
          font-size: 0.9rem;
          color: black;
        }
      }
    }

    ion-card.category1 {
      border-radius: 40px;

      ion-avatar {
        margin-right: 5px;
      }

      ion-label {
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  ion-card.currentEvent {
    border-radius: 20px;
    height: 15rem;
    margin: 5px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    align-content: end;

    ion-item {
      border-radius: 20px;
      --background: rgba(47, 47, 47, 0.05);
      backdrop-filter: blur(10px);
      margin: 5px 5px 10px 5px;

      p.name {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 1.3rem;
      }

      p {
        color: rgb(255, 255, 255);
      }
    }



  }

}

.selected-category {
  --background: rgb(130,50,185);// Apply secondary color
    color: rgb(255, 255, 255); // Adjust text color if needed
  transition: background-color 0.5s ease-in-out;
}



// ion-range::part(tick) {
//   background: #a2d2ff;
// }

// ion-range::part(tick-active) {
//   background: #bde0fe;
// }

ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: rgba(141, 65, 192, 0.63);
  color: #fff;

  border-radius: 50%;
  transform: scale(1.01);

  top: -13px;

  min-width: 28px;
  height: 28px;
  transition: transform 120ms ease, --background 120ms ease;
}

ion-range::part(pin)::before {
  content: none;
}

ion-range::part(knob) {
  width: 18px;
  height: 18px;
  top: 17px;
  background: rgb(59, 127, 182);
}

// ion-range::part(bar) {
//   background: #a2d2ff;
// }

// ion-range::part(bar-active) {
//   background: #bde0fe;
// }

/* Add custom styles for the scrollable popover */
// .city-select {
//   --max-height: 300px !important;  /* Ensure the max height is applied */
//   --overflow-y: auto !important;   /* Enable scrolling */
// }

// .city-select .select-popover .popover-content {
//   max-height: 300px; /* Set max height */
//   overflow-y: auto; /* Enable scrolling */
// }

