ion-header {
  background: var(--ion-color-light);

  ion-toolbar.wrapper {
    --background: url("../../assets/background.jpeg") no-repeat center center/cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 32px 5px 10px 5px;
    margin-bottom: 8px;
    ion-item,
    ion-toolbar.srchBar {
      --background: transparent;

      ion-text {
        font-size: 1rem;
      }
    }


    ion-fab-button {

      ion-icon {
        position: relative;
      }

      ion-bagde {
        position: absolute;
        top: 0;
        right: 0;
        color: rgb(153, 24, 24);
        font-size: 1.3rem;
        margin-right: 0.1rem;
      }
    }

    ion-toolbar.srchBar {
      ion-row {
        background: white;
        margin: 5px 5px 8px 5px;
        border-radius: 30px;

        ion-col {
          padding: 0;
        }

        ion-searchbar {
          --background: transparent;

          height: 100%;
          padding: 0 5px;
        }
      }
    }
  }
}

ion-content {

  ion-list {
    background: transparent;
    align-items: center;
  }

  ion-item-divider {
    background: transparent;
  }

  swiper-slide {
    ion-card.event1 {
      padding: 5px;
      border-radius: 10px;

      ion-thumbnail {
        margin-right: 5px;

        img {
          border-radius: 10px;
        }
      }

      ion-text {
        font-weight: bold;
        color: grey;
        font-size: 0.8rem;
      }

      p {
        font-size: 0.64rem;

        ion-text {
          font-size: 0.9rem;
          color: black;
        }
      }
    }

    ion-card.category1 {
      border-radius: 40px;

      ion-avatar {
        margin-right: 5px;
      }

      ion-label {
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  ion-card.currentEvent {
    border-radius: 20px;
    height: 15rem;
    margin: 5px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    align-content: end;

    ion-item {
      border-radius: 20px;
      --background: rgba(47, 47, 47, 0.05);
      backdrop-filter: blur(10px);
      margin: 5px 5px 10px 5px;

      p.name {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 1.3rem;
      }

      p {
        color: rgb(255, 255, 255);
      }
    }



  }

}

.selected-category {
  --background: rgb(130, 50, 185); // Apply secondary color
  color: rgb(255, 255, 255); // Adjust text color if needed
  transition: background-color 0.5s ease-in-out;
}





ion-select {
  padding: 10px 5px;
  padding-top: 5px;
  font-weight: bold;
  font-size: 2.5rem;

  .icon-inner,
  .ionicon,
  svg {
    color: white;
  }

}

ion-select::part(icon) {
  color: white;
  stroke: white;
}


.city-select {
  --color: white;
  --icon-color: white;
}