<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="light">
        <div>
          <ion-icon name="locate-outline"></ion-icon>
          <ion-text>
            Events near me
          </ion-text>
        </div>
        <p color="light">Pune, MH</p>

      </ion-label>
      <ion-fab-button size="small" color="white">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-bagde>&#9679;</ion-bagde>
      </ion-fab-button>
    </ion-item>

    <ion-toolbar [translate]="true" class="srchBar" mode="ios">
      <ion-row>
        <ion-col size="10">
          <ion-searchbar placeholder="Search event"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-fab-button size="small" color="white">
            <ion-icon name="options-outline" color="dark"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list class="ion-margin-top">
    <ion-list-header mode="ios">
      Upcoming Events
    </ion-list-header>
    <swiper-container>
      <swiper-slide *ngFor="let event of upcomingEvents; let i = index">
        <ion-item lines="none">
          <ion-thumbnail item-start>
            <img [src]="event.image" alt="Event Image">
          </ion-thumbnail>
          <ion-label>
            <!-- <h2>{{ event.title }}</h2>
            <p>{{ event.description }}</p>
            <p>Starts: {{ event.start_date | date:'medium' }}</p> -->
          </ion-label>
        </ion-item>
      </swiper-slide>
    </swiper-container>
  </ion-list>

</ion-content>