<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="light">
        <div>
          <ion-icon name="locate-outline"></ion-icon>
          <ion-text>
            Events near me
          </ion-text>
        </div>
        <p color="light">Pune, MH</p>

      </ion-label>
      <ion-fab-button size="small" color="white">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-bagde>&#9679;</ion-bagde>
      </ion-fab-button>
    </ion-item>

    <ion-toolbar [translate]="true" class="srchBar" mode="ios">
      <ion-row>
        <ion-col size="10">
          <ion-searchbar placeholder="Search event"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-fab-button size="small" color="white">
            <ion-icon name="options-outline" color="dark"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list class="ion-margin-top">
    <ion-list-header mode="ios">
      Upcoming Events
    </ion-list-header>
    <swiper-container #event_upcoming [modules]="swiperModule" [slidesPerView]="1.14" [keyboard]="true"
      [centerSlides]="true">
      <swiper-slide *ngFor="let event of upcomingEvents; let i = index">
        <ion-card class="event1" [routerLink]="['/','event',event?._id]">

          <ion-item lines="none">
            <ion-thumbnail item-start>
              <img [src]="event.image" alt="Event Image">
            </ion-thumbnail>
            <ion-label>
              <!-- <ion-text class="date">
                {{event?.date |date:'MMM d, y' }}
              </ion-text> -->
              <p><ion-text color="dark">
                  {{event?.name}}
                </ion-text></p>
              <p>
                <ion-icon name="location-outline"></ion-icon>
                {{event?.location}}
              </p>
            </ion-label>
          </ion-item>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-list>

  <!-- category -->
  <ion-list class="">
    <ion-item-divider mode="ios" clor-light>
      Top Picks
      <ion-button fill="clear" slot="end" shape="round">
        View All
      </ion-button>
    </ion-item-divider>

    <swiper-container #category [modules]="swiperModule" [slidesPerView]="2.3" [keyboard]="true" [centerSlides]="true">
      <swiper-slide *ngFor="let category of categories; let i = index">
        <ion-card class="category1 ion-no-padding">
          <ion-item lines="none">
            <ion-avatar>
              <img [src]="category.image" />
            </ion-avatar>
            <ion-label class="">
              {{category?.name}}
            </ion-label>
          </ion-item>
        </ion-card>

      </swiper-slide>
    </swiper-container>
  </ion-list>



  <ion-list >
    <ion-card class="currentEvent" *ngFor="let event of currentEvents; let i = index" [ngStyle]="{'background-image':'url('+event?.image+')'}"  [routerLink]="['/','event',event?._id]"> 
        <ion-item lines="none"  >
          <ion-label >
            <p class="name">{{event?.name}}</p>
            <p>{{event?.date | date :'MMM d, y hh:mm a'}}
            </p>
          </ion-label>
          <ion-fab-button size="small" color="tertiary">
            <ion-icon name="arrow-redo-outline"></ion-icon>
          </ion-fab-button>
        </ion-item>
    </ion-card>
  </ion-list>


</ion-content>