<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="ion-no-padding">User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="profile-card">
    <div class="card-img">
      <img class="background-image" src="assets/background.jpg" alt="Background Image" />
      <ion-button slot="start" size="small" fill="clear" (click)="back()">
        <ion-icon slot="icon-only" size="large" color="light" name="chevron-back-circle-outline"></ion-icon>
      </ion-button>

      <div class="card-avatar">
        <img class="avatar" [src]="loggedUserData?.image" alt="User Avatar" />
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="card-title">{{loggedUserData?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class=""><strong>Email:</strong> {{loggedUserData?.email}}</p>
      <p class=""><strong>Phone:</strong> {{loggedUserData?.phone}}</p>
      <!-- <ion-item lines="none">
        <ion-button slot="end" fill="clear" class="card-btn-solid" size="small"><ion-icon size="large" color="dark"
            name="create-outline"></ion-icon></ion-button>
      </ion-item> -->
      <!-- <ion-item lines="none">
        <ion-button color="danger" fill="outline" size="small" (click)="logOut()">Log Out</ion-button>
      </ion-item> -->


    </ion-card-content>
  </ion-card>

  <ion-card class="profile-card">
    <ion-card-content>


      <ion-accordion-group color="light">
        <ion-item>
          <ion-label (click)="openModal()"><ion-icon name="ticket-outline"></ion-icon>Your Orders</ion-label>
        </ion-item>
        <ion-accordion value="first">
          <ion-item slot="header" lines="true">
            <ion-label><ion-icon name="settings-outline"></ion-icon>Account</ion-label>
          </ion-item>
          <div class="ion-padding" (click)="logOut()" slot="content"><ion-icon color="dark"
              name="create-outline"></ion-icon>Edit</div>
          <div class="ion-padding" (click)="logOut()" slot="content"><ion-icon name="log-out-outline"></ion-icon>Logout
          </div>
        </ion-accordion>
        <!-- <ion-accordion>
          <ion-item slot="header">
            <ion-label><ion-icon name="ticket-outline" ></ion-icon>Your Orders</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" (click)="openModal()">First Content</div>
        </ion-accordion> -->

        <!-- <ion-accordion value="third">
          <ion-item slot="header" >
            <ion-label>Third Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion> -->

      </ion-accordion-group>



    </ion-card-content>
  </ion-card>







  <!-- order modal -->
  <ion-modal #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Your Orders</ion-title>
          <ion-buttons slot="end">
            <ion-buttons class="ion-margin-horizontal" (click)="modal.dismiss()">Close</ion-buttons>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list style="background-color: rgb(240, 240, 240);" *ngIf="bookingsList?.length>0">
          @for(item of bookingsList;track $index){
          <ion-card class="" style="border-radius: 15px; padding: 10px;" (click)="onShowTicket(item._id)" >
            <ion-grid>
              <ion-row class="ion-align-items-center">

                <!-- Image Column -->
                <ion-col size="auto">
                  <ion-img [src]="item.showId.eventId.image"
                    style="width: 3rem; height: 3rem; border-radius: 10px;"></ion-img>
                </ion-col>

                <!-- Text Column -->
                <ion-col>
                  <ion-text style="font-size: 0.8rem;">
                    <p class="ion-no-margin ion-no-padding">
                      <strong>{{ item.showId.eventId.name }}</strong>
                    </p>
                    <p class="ion-no-margin ion-no-padding">
                      <strong>{{ item?.showId.date | date: 'd MMM' }} | {{ item?.showId.time }}</strong>
                      <span style="color: green;">{{ item?.availableSeats }}</span>
                    </p>
                    <p class="ion-no-margin ion-no-padding">
                      {{ item.showId.eventId.location }}
                    </p>
                    <p class="ion-no-margin ion-no-padding">
                      <strong>{{ item?.tickets }} ticket(s) </strong>,
                      Order on: {{ item?.createdAt | date: 'd MMM | hh:mm a' }}
                    </p>
                  </ion-text>
                </ion-col>

              </ion-row>
              <ion-row>
                <!-- If show is over -->
                <ion-col *ngIf="!getRemainingTime(item?.showId.date, item?.showId.time)" size="12" class="ion-text-center">
                  <strong class="ion-padding-horizontal"
                    style="background-color: rgb(51, 51, 51); color: white; border-radius: 3px;">
                    Finished
                  </strong> | Hope you enjoyed the show!
                </ion-col>
              
                <!-- If show is not over -->
                <ion-col *ngIf="getRemainingTime(item?.showId.date, item?.showId.time)" size="12" class="ion-text-center">
                  {{ getRemainingTime(item?.showId.date, item?.showId.time) }}
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </ion-card>


          <!-- <p class="ion-padding-horizontal ion-no-margin">|Hope you enjoyed the show!</p> -->
          }
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>



</ion-content>