<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="ion-no-padding">User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="profile-card">
    <div class="card-img">
      <img class="background-image" src="assets/background.jpg" alt="Background Image" />
      <ion-button slot="start" size="small" fill="clear" (click)="back()">
        <ion-icon slot="icon-only" size="large" color="light" name="chevron-back-circle-outline"></ion-icon>
      </ion-button>

      <div class="card-avatar">
        <img class="avatar" [src]="loggedUserData?.image" alt="User Avatar" />
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="card-title">{{loggedUserData?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class=""><strong>Email:</strong> {{loggedUserData?.email}}</p>
      <p class=""><strong>Phone:</strong> {{loggedUserData?.phone}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="profile-card">
    <ion-card-content>


      <ion-accordion-group color="light">
        <ion-item>
          <ion-label (click)="openModal()"><ion-icon name="ticket-outline"></ion-icon>Your Orders</ion-label>
        </ion-item>
        <ion-accordion value="first">
          <ion-item slot="header" lines="true">
            <ion-label><ion-icon name="settings-outline"></ion-icon>Account</ion-label>
          </ion-item>
          <div class="ion-padding" (click)="onEdit()" slot="content"><ion-icon color="dark"
              name="create-outline"></ion-icon>Edit</div>
          <div class="ion-padding" (click)="onLogOut()" slot="content"><ion-icon
              name="log-out-outline"></ion-icon>Logout
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>



  <!-- edit profile modal -->
  <ion-modal id="example-modal" #editmodal>
    <ng-template>
      <div class="wrapper">
        <div style="display: flex;justify-content: space-between;">
          <h1>Edit Profile</h1>
          <ion-button size="small" fill="clear" (click)="editmodal.dismiss()">
            <ion-icon slot="icon-only" size="small" name="close-circle-outline"></ion-icon>
          </ion-button>

        </div>
        <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
          <!-- Name Input -->
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" [(ngModel)]=" updateProfileData.name" #name="ngModel" name="name" required />
          </div>
          <div>
            <p *ngIf="name.invalid" class="error">Name is required.</p>
          </div>

          <!-- Email Input -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]=" updateProfileData.email" name="email" #email="ngModel"
              required />
          </div>
          <div>
            <p *ngIf="email.invalid && email.touched" class="error">Email is required.</p>
          </div>

          <!-- Phone Input -->
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" maxlength="10" minlength="10" id="phone" [(ngModel)]=" updateProfileData.phone"
              name="phone" #phone="ngModel" required />
          </div>
          <div>
            <p *ngIf="phone.invalid && phone.touched" class="error">Phone number must be 10 digits long.</p>
          </div>

          <!-- Image Upload -->
          <div class="form-group ion-text-center">
            <label for="image">Upload Image <br> <ion-icon name="cloud-upload-outline"></ion-icon> </label>
            <input type="file" style="display: none;" id="image" (change)="onFileSelected($event)" name="image"
              accept="image/*" />
          </div>
          <div class="ion-text-center">
            <label for="image">{{selectedFile?.name}}</label>
          </div>

          <!-- Submit Button -->
          <ion-button slot="end" type="submit" shape="round" class="save-change-button" color="tertiary"
            [disabled]="!profileForm.form.valid || loading" expand="full">
            <ion-spinner *ngIf="loading"></ion-spinner>
            <span *ngIf="!loading">Save Changes</span>

          </ion-button>
        </form>
      </div>
    </ng-template>
  </ion-modal>



  <!-- order modal -->
  <ion-modal #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Your Orders</ion-title>
          <ion-buttons slot="end">
            <ion-buttons class="ion-margin-horizontal" (click)="modal.dismiss()">Close</ion-buttons>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list style="background-color: rgb(240, 240, 240);" *ngIf="bookingsList?.length>0">
          @for(item of bookingsList;track $index){
          <ion-card class="" style="border-radius: 15px; padding: 10px;" (click)="onShowTicket(item._id)">
            <ion-grid>
              <ion-row class="ion-align-items-center">

                <ion-col size="auto">
                  <ion-img [src]="item.showId.eventId.image"
                    style="width: 3rem; height: 3rem; border-radius: 10px;"></ion-img>
                </ion-col>

                <ion-col>
                  <ion-text style="font-size: 0.8rem;">
                    <p class="ion-no-margin ion-no-padding">
                      <strong>{{ item.showId.eventId.name }}</strong>
                    </p>
                    <p class="ion-no-margin ion-no-padding">
                      <strong>{{ item?.showId.date | date: 'd MMM' }} | {{ item?.showId.time }}</strong>
                      <span style="color: green;">{{ item?.availableSeats }}</span>
                    </p>
                    <p class="ion-no-margin ion-no-padding">
                      {{ item.showId.eventId.location.venue }}, {{ item.showId.eventId.location.city }}
                    </p>
                    <p class="ion-no-margin ion-no-padding">
                      <strong>{{ item?.tickets }} ticket(s) </strong>,
                      Order on: {{ item?.createdAt | date: 'd MMM | hh:mm a' }}
                    </p>
                  </ion-text>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col *ngIf="!getRemainingTime(item?.showId.date, item?.showId.time)" size="12"
                  class="ion-text-center">
                  <strong class="ion-padding-horizontal"
                    style="background-color: rgb(51, 51, 51); color: white; border-radius: 3px;">
                    Finished
                  </strong> | Hope you enjoyed the show!
                </ion-col>

                <ion-col *ngIf="getRemainingTime(item?.showId.date, item?.showId.time)" size="12"
                  class="ion-text-center">
                  {{ getRemainingTime(item?.showId.date, item?.showId.time) }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          }
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>



</ion-content>